.container  
  .home-content
    = render 'shared/search_field'
    
    .search-results 
      %h3 #{@results.count} Results found for "#{params[:search_term]}":
      - @results.each do |result|
        .result-section.panel.panel-default
          .job-result.panel-heading   
            %h5.panel-title= result.title 
          .panel-body   
            %h5= result.company.name 
            %h5 Job description:
            %p= result.description
            = link_to  'View', job_path(result), class: 'btn btn-default' 
            