.container
  .user-form.col-md-4
    = form_for @user do |f|
      .form-group 
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control' 
      
      .form-group 
        = f.label :last_name 
        = f.text_field :last_name, class: 'form-control'  
      
      .form-group
        = f.label :email 
        = f.text_field :email, class: 'form-control'
      
      .form-group.well 
        %span 
          %p I am a:
          = f.label :employer, 'Job seeker'
          = f.radio_button :employer, false
        
          = f.label :employer, 'Employer'
          = f.radio_button :employer, true
      
      .form-group 
        = f.label :username
        = f.text_field :username, class:'form-control'
      
      .form-group 
        = f.label :password
        = f.text_field :password, class:'form-control'  
      
      = f.submit 'Sign up', class: 'btn btn-default' 